extends ./layout.jade



block title
  title Edit Article
block content
  form.form-article(method="post" action="/admin/edit-article")
    div.form-group
      label Select Story
      select.form-control(id="select" name="article_id" onchange="selStory(this)" required="true")
        option(value="") Select a Story
        if stories
          each story, i in stories
            option(value="#{story._id}" articleType="story") #{story.title}
            each post, index in story.posts
              option(value="#{story._id}_"+"#{index}" articleType="post") -- #{post.title}
    div.form-group
      label Title
      input.form-control(id="title" type="text" placeholder="title" name="title")
    div.form-group
      label Body
      textarea.form-control(rows="15" id="body" name="body")
    input(type="hidden" name="author" value="#{author}")
    button.btn.btn-default(type="submit") Edit Article


    script.
      var st = !{JSON.stringify(stories)};
  
      var title = document.getElementById('title');
      var body = document.getElementById('body');

      function selStory(sel){
        if(sel.value==''){
          title.value = '';
          body.value = '';
        }
        else{
          var splitId = sel.value.split("_");
          if(splitId.length>1){
            for(var i=0; i<st.length; i++){
              if(st[i]._id == splitId[0]){
                title.value = st[i].posts[splitId[1]].title;
                body.value = st[i].posts[splitId[1]].body;
              }
            }
          }
          else{
            for(var i=0; i<st.length; i++){
              if(st[i]._id == sel.value){
                title.value = st[i].title;
                body.value = st[i].body;
              }
            }
          }
        }
        
      }