extends layout.jade

block content
	div
		article
			span= story.updatedAt 
			|  | 
			span= story.author
			h2= story.title
			div
				!{story.body}
		each post in story.posts
			article
				span= post.updatedAt 
				|  | 
				span= post.author
				h2= post.title
				div
					!{post.body}